.top_space {
    margin-top: 25px;
}

#heading_name {
    font-size: 3em;
}

#fixspacing{
    margin-left: 80%;
}

#spacing_add {
    margin-top: 28px;
}

#myCarousel {
  min-height: 600px;
  border-radius: 10px;
}
.carousel-inner {
  border-radius: 10px;
}

.messages {
  color: rgba(255,0,0,1)
}
#signinPage {
  background: url('https://github.com/loyti/images/blob/master/tmanSignIn.jpg?raw=true');
  max-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -50px;
  text-align: center;
}

#siginForm {
  color: #fff;
  text-align: center;
  font-size: large;
  text-align: center;
}
#signinForm .form-group {
  color: #fff;
  text-align: center;
  font-size: large;
}
#signinForm h1 {
  text-align: center;
  color: #fff;
}

#signinForm a, #signinForm>a {
  color: #eee;
  text-align: center;
  font-size: large;
}

#loginA>a, #loginA a, #loginA>p, #loginA p{
  color: #eee;
  text-align: center;
  font-size: large;
}

#registerPage {
  background: url('https://github.com/loyti/images/blob/master/tmanregister.jpg?raw=true');
  max-width: 100%;
  min-height: 100%;
  background-size: cover;
}

#registerForm {
  color: #eee;
  text-align: center;
  font-size: large;
  margin: 20px;
}

#registerForm h1 {
  color: #fff;
}
#registerForm a {
  color: #ADD1D4;
}

.bg {
  background: url('https://github.com/loyti/images/blob/master/tmanhomeimg.jpg?raw=true') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: -1;
}

#homeHead {
  margin-bottom: -5px;
  margin-top: -1px;
  background: url('https://github.com/loyti/images/blob/master/tmanhomeimg.jpg?raw=true') no-repeat center center;
  position: cover;
  width: 100%;
  height: 100%;
  color: #fff;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}

#logo, #logo>img {
  max-width: 50px;
  vertical-align: center;
}

#homeHead p {
  color: #fff;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}

#goSignin{
  background-position: 00px -50px;
  background: url('https://github.com/dojoteam/EcommerceSite/blob/master/apps/users_app/static/userDashboard/images/box.png?raw=true');
  margin: 10px;
  min-height: 590px;
  padding: 10px;
  padding-bottom: 150px;
  font-size: large;
  border-radius: 5px;
  background-size: cover;
  letter-spacing: .1em;
  color: #eee;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}
#goSignin>a, #goSignin a {
  color: rgba(255,255,255,1);
  margin-bottom: 50px;
  padding-bottom: 50px;
}
#hotPress {
  margin: 10px;
  min-height: 590px;
  padding: 10px;
  padding-bottom: 150px;
  font-size: large;
  border-radius: 5px;
  background: url('https://github.com/dojoteam/EcommerceSite/blob/master/apps/users_app/static/userDashboard/images/forfpo.jpg?raw=true') no-repeat;
  background-size: cover;
  letter-spacing: .1em;
  color: #eee;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}
#hotPress>p {
  background: rgba(0,0,0,.25);
  border-radius: 5px;
  padding: 10px;
}

#classics {
  margin: 10px;
  min-height: 590px;
  padding: 10px;
  padding-bottom: 150px;
  font-size: large;
  border-radius: 5px;
  background: url('https://github.com/dojoteam/EcommerceSite/blob/master/apps/users_app/static/userDashboard/images/forfpo.jpg?raw=true') no-repeat;
  background-size: cover;
  letter-spacing: .05em;
  color: #eee;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}
#classics>p {
  background: rgba(0,0,0,.25);
  border-radius: 5px;
  padding: 10px;
}

#kidsCorner {
  margin: 10px;
  min-height: 590px;
  padding: 10px;
  padding-bottom: 150px;
  font-size: large;
  border-radius: 5px;
  background: url('https://github.com/dojoteam/EcommerceSite/blob/master/apps/users_app/static/userDashboard/images/box.png?raw=true') no-repeat;
  background-size: cover;
  letter-spacing: .1em;
  color: #eee;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}

#kidsCorner>p {
  background: rgba(0,0,0,.25);
  border-radius: 5px;
  padding: 10px;
}
